.card {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.card__inner.disabled {
  cursor: default;
}

.card__inner.is-flipped {
  transform: rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--light);
}
.card__face--front .card__content {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  height: 100%;
  width: 100%;
  background-size: contain;
}
.card__face--back {
  background-color: var(--dark);
  transform: rotateY(-180deg);
}
.card__face--back .card__content {
  background: url('../images/icon_back.png') no-repeat center center;
  height: 100%;
  width: 100%;
}
.card__face--front {
  position: absolute;
}
.p-10 {
  padding: 10px;
}
